<% 
    let action="";
    let title=""; 
    let image=""; 
    let content=""; 
    let method="post"; 
    
    if(typeof post !== "undefined" ){
        action=`/${post.id}`; 
        title=post.title;
        image=post.image;
        content=post.content;
        method="put" ; 
    } 
%>

<form action="/posts<%= action %>" method="post" enctype="multipart/form-data" class="mt-3">
    <!-- hidden input to receive the type of method/http verb in the app middleware where we created a middleware to use all the http verbs -->
    <input type="hidden" name="_method" value="<%= method %>">

    <div class="form-group mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" id="title" class="form-control" required value="<%= title %>">
    </div>

    <div class="form-group mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="file" name="image" id="image" class="form-control" value="<%= image %>">
    </div>

    <div class="form-group mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea name="content" id="creative-content" class="form-control"><%= content %></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>