<%
    let action = "";
    let firstName = "";
    let lastName = "";
    let nickname = "";
    let email = "";
    let avatar = "";
    let userRole = "";
    let subscriber = "checked";
    let method = "post";

    if (typeof user !== "undefined") {
        action = `/${user.id}`;
        firstName = user.firstName;
        lastName = user.lastName;
        nickname = user.nickname;
        email = user.email;
        avatar = user.avatar;
        subscriber = user.subscriber;
        userRole = user.role;
        method = "put";
    }
%>

<form action="/users<%= action %>" method="post" class="mt-3" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="<%= method %>">

    <div class="mb-3 text-light">
        <label for="firstName" class="form-label">First Name:</label>
        <input type="text" class="form-control bg-dark text-light" id="firstName" name="firstName" required value="<%= firstName %>">
    </div>

    <div class="mb-3 text-light">
        <label for="lastName" class="form-label">Last Name:</label>
        <input type="text" class="form-control bg-dark text-light" id="lastName" name="lastName" required value="<%= lastName %>">
    </div>

    <div class="mb-3 text-light">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control bg-dark text-light" id="email" name="email" required value="<%= email %>">
    </div>

    <div class="mb-3 text-light">
        <label for="nickname" class="form-label">Nickname:</label>
        <input type="text" class="form-control bg-dark text-light" id="nickname" name="nickname" required value="<%= nickname %>">
    </div>

    <div class="mb-3 text-light">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control bg-dark text-light" id="password" name="password" required>
    </div>

    <div class="mb-3 text-light">
        <label for="avatar" class="form-label">Avatar:</label>
        <input type="file" class="form-control bg-dark text-light" id="avatar" name="avatar" value="<%= avatar %>">
    </div>

    <div class="mb-3 form-check text-light">
        <input type="checkbox" class="form-check-input" id="subscriber" name="subscriber" <%= subscriber ? 'checked' : '' %>>
        <label class="form-check-label" for="subscriber">Subscribe to stay up to date</label>
    </div>

    <% if (isAuthenticated) { %>
        <% if (isAdmin) { %>    
            <div class="mb-3 text-light">
                <label for="role" class="form-label">Role:</label>
                <select id="role" name="role" class="form-select bg-dark text-light" required>
                    <% userRoles.forEach(function(role) { %>
                        <option value="<%= role %>" <%= role === userRole ? "selected" : "" %>>
                        <%= role %>
                        </option>
                    <% }); %>
                </select>
            </div> 
        <% } %>
    <% } %>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
