<%- include("../shared/_header") %>

<div class="container mt-5">
    <h1>Comment View</h1>

    <hr class="my-5">

    <% if(typeof comment !== undefined) { %>
        <a href="/comments/<%= comment.id %>/edit">Edit Comment</a>
        
        <div>
            <div class="comment-body">
                <p class="comment-text">
                    <%= comment.content %>
                </p>
            </div>
        </div>
        
        <a href="/comments">Back to Comments</a>
        <a href="/comments/<%= comment.id %>/child-comments">Child Comments JSON</a>

        <hr class="my-5">

        <!-- Form for adding a new comment -->
        <form action="/comments" method="post" class="mt-3">
            <div class="form-group mb-3">
                <label for="content" class="form-label">Add a Comment</label>
                <textarea name="content" id="content" class="form-control" required></textarea>
                <!-- Hidden input to store the parent comment's id -->
                <input type="hidden" name="parentCommentId" value="<%= comment.id %>">
                <input type="hidden" name="postId" value="<%= comment.postId %>">
                <input type="hidden" name="userId" value="<%= user.id %>">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    <% } %>
</div>

<%- include("../shared/_footer") %>
