<%- include("../shared/_header"); %>

<main>
    <div class="total-count-container">
        <div class="total-count-card">
            <div class="total-count-left">
                <p>Total Users</p>
                <p><%= totalUsers %></p>
            </div>
            <div class="total-count-right">
                <i class="fa-solid fa-users"></i>
            </div>
        </div>
        <div class="total-count-card">
            <div class="total-count-left">
                <p>Total Comments</p>
                <p><%= totalComments %></p>
            </div>
            <div class="total-count-right">
                <i class="fa-solid fa-comments"></i>
            </div>
        </div>
        <div class="total-count-card">
            <div class="total-count-left">
                <p>Total Posts</p>
                <p><%= totalPosts %></p>
            </div>
            <div class="total-count-right">
                <i class="fa-solid fa-passport"></i>
            </div>
        </div>
    </div>

    <div class="recent-users-and-comments-container">
        <div class="recent-users-container">
            <div class="recent-users-container-top">
                <p>Recent users</p>
                <a href="/users" class="see-all-button">See all</a>
            </div>
            <div class="recent-users-container-bottom">
                <div class="recent-users-container-bottom-top">
                    <p>User Avatar</p>
                    <p>User Name</p>
                </div>
                <div class="recent-users-container-bottom-bottom">
                    <% recentUsers.forEach(user => { %>
                        <div class="recent-users-container-bottom-bottom-list-item">
                            <% if (user.avatar && typeof user.avatar === 'string') { %>
                                <img src="http://localhost:5200/<%= user.avatar %>" alt="<%= user.avatar %>">
                            <% } else { %>
                                <img src="/images/user-thumbnail.png" alt="user-thumbnail">
                            <% } %>
                            <p><%= user.firstName %></p>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
        <div class="recent-comments-container">
            <div class="recent-comments-container-top">
                <p>Recent comments</p>
                <a href="/comments" class="see-all-button">See all</a>
            </div>
            <div class="recent-comments-container-bottom">
                <div class="recent-comments-container-bottom-top">
                    <p>Comment Content</p>
                    <p>Likes</p>
                </div>
                <div class="recent-comments-container-bottom-bottom">
                    <% recentComments.forEach(comment => { %>
                        <div class="recent-comments-container-bottom-bottom-list-item">
                            <p><%= comment.content %></p>
                            <p><%= comment.numberOfLikes %></p>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>

    <div class="recent-posts-container">
        <div class="recent-posts-container-top">
            <p>Recent posts</p>
            <a href="/posts" class="see-all-button">See all</a>
        </div>
        <div class="recent-posts-container-bottom">
            <div class="recent-posts-container-bottom-top">
                <p>Post Image</p>
                <p>Post Title</p>
                <p>Post Status</p>
            </div>
            <div class="recent-posts-container-bottom-bottom">
                <% recentPosts.forEach(post => { %>
                    <div class="recent-posts-container-bottom-bottom-list-item">
                        <% if (post.image && typeof post.image === 'string') { %>
                            <img src="http://localhost:5200/<%= post.image %>" alt="<%= post.image %>">
                        <% } else { %>
                            <img src="/images/post-thumbnail.jpg" alt="post-thumbnail">
                        <% } %>
                        <p><%= post.title %></p>
                        <p><%= post.status %></p>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</main>

<%- include("../shared/_footer"); %>
